* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
   font-family: 'Poppins', sans-serif;
   font-size: 1.6rem;
   font-weight: 400;

   color: #ffffff;
}

.header{
    background-color: #000000;
    padding: 1.5rem 0 0 10rem;
    position: relative;
    border-bottom: 5px solid #00AD90;
}
.header__box {
    display: flex;
    align-items: center;
    margin-bottom: 8rem;
}

.header__logo-box {
    margin-left: 2rem;
    cursor: pointer;
}
.header__navigation {
    margin-left: auto;
    margin-right: 4rem;
}
.header__nav {
    list-style: none;
    font-size: 1.5rem;
}
.header__nav-list {
    display: inline-block;
}
.header__nav-anchor {
    text-decoration: none;
    color: #ffffff;
}
.header__nav-anchor--green {
    color: #00AD90;
    border-bottom: 1px solid #00AD90;
}
.header__nav-list:not(:last-child){
    margin-right: 4rem;
}
/************************
ABOUT IMAGE
/*************************/
.about__image {
    max-width: 70%;
}

.about__text {
    position: absolute;
    top: 30%;
    left: 16rem;
} 
.heading__secondary {
    font-size: 3.5rem;
    line-height: 5.55rem;
    font-weight: 700;
}

.about__paragraph {
    font-size: 1.6rem;
    margin-bottom: 5rem;
}

.about__button:link, .about__button:visited {
    text-decoration: none;
    color: #ffffff;
    background-color: #00AD90;
    border-radius: 1000px;
    margin-top: 3rem;
    padding: 1rem 4rem;
    box-shadow: 0px 0px 5px 4px rgba(0 173 144 / 50%);
}
/* 
.about__button:focus, .about__button:hover{
    transform: translateY(20%)
}  */

.header__about {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

/************************
MAIN SECTION
/*************************/
.main {
    padding: 6rem 2rem;
    background-color: #1A1A1A;
    text-align: center;
}
.heading__tertiary {
    margin-bottom: 3rem;
}
.first__paragraph {
    margin: 0 15rem 15rem 15rem;
}
.heading__four {
    margin-bottom: .8rem;
}
.main__box {
    display: grid;
    text-align: left;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
}
.box {
    /* width: 35rem; */
    padding: 1.3rem 2.5rem;
    border: 1px solid #00AD90;
    border-radius: 1rem;
}
/************************
ROADMAP
/*************************/
.roadmap{
    background-color: #000000;
    padding: 5rem 0 2rem 0;
    text-align: center;
}
.roadmap img {
    width: 100%;
}

.roadmap-heading {
    margin-bottom: 4rem;
}

/* .allocation {
    background-image: url("../img/image.png");
    background-size: cover;
    background-position: top;
    padding: 2rem 2rem;
    text-align: center;
} */
.section__allocation {
    margin-bottom: -1rem;
}
.allocation img {
    width: 100%;
}
.allocation-heading {
    margin-left: 7rem;
}

/************************
COMPONENTS
/*************************/
.footer {
    padding: 18rem 0 8rem 0;
    text-align: center;
    background-color: #000000;
    
}
.footer-heading {
    margin-bottom: 6rem;
}

/************************
COMPONENTS
/*************************/
.monster__colour {
    color: #00AD90;
}

/************************
ANIMATION
/*************************/

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

/************************
FIRST MODAL
/*************************/
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: #000000;

    font-size: 1.3rem;

    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.modal__content {
    position: absolute;
    width: 85%;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);

    margin: 0 auto;
}

.first__modal {
    display: flex;
    align-items: center;
    padding: 0 2.5rem;
    margin-bottom: 3rem;
    justify-content: space-between;
}
.airdrop__button {
    border: 1px solid #F0B90B;
    border-radius: 1000rem;
    padding: .6rem 1.6rem;
    margin-left: -1rem;
    text-decoration: none;
    color: #F0B90B;
}
.modal__info {
    background-color: #00AD90;
    /* margin-right: 26rem; */
    padding: .6rem 1.2rem;
}

.modal__airdrop {
    display: flex;
    align-items: center;
}

/* .airdrop__img {
    max-width: 80%;
} */

/************************
SECOND MODAL
/*************************/
.second__modal {
    background-color: #ffffff;
    display: flex;
}
.first__mnstr {
    flex: 0 1 60%;
    background-color:#1A1A1A;
    padding: 4rem 3rem 1rem 3rem;
}
.modal__mnstr {
    display: flex;
    align-items: center;

    padding-bottom: 1rem;
    border-bottom: 1px solid #00AD90;

    margin-bottom: 3rem;
}
.mnstr__logo {
    margin-right: .7rem;
}
.mnstr__button {
    font-size: 1.3rem;
    font-weight: 600;
    border: 1px solid #00AD90;
    border-radius: 1000rem;
    padding: .45rem 1.7rem;
    margin-left: -1rem;
    text-decoration: none;
    color: #00AD90;
    margin-left: auto;
}

.mnstr__info {
    display: flex;
    flex-direction: row;
    margin-bottom: 3.5rem;
}

.info__modal:not(:last-child){
    margin-right: 10rem;
}
.info__heading{
    font-size: 1.65rem;
    font-weight: 600;
}

.info__bar {
    background-color: #ffffff;
    height: .55rem;
    border-radius: 100rem;
    margin: 0 auto 4rem auto;
}

.mnstr__coin {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid #ffffff;
    padding: 5rem 0;
    margin-top: 5rem;
    margin-bottom: 3.5rem;
}
.coin__heading{
    font-size: 1.55rem;
    font-weight: 600;
}
.coin__modal:not(:last-child){
    margin-right: 6rem;
}
.coin__button {
    margin-left: -4rem;
}

/************************

/*************************/
.second__mnstr {
    position: relative;
    padding: 4rem 6rem;
    flex: 0 1 40%;
    background-image: linear-gradient(to right bottom, rgba(3, 115, 93, 0.78) -11.46%, rgb(1, 53, 43));
}

.second__mnstr--tertiary {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.25rem;
    margin-bottom: 2rem;
}
.second__para {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 4rem;
}

.second__box {
    display: block;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    font-weight: 500;
    margin-top: 2rem;
    padding: 1.2rem 6rem;
    border: 1px solid #ffffff;
    border-radius: .5rem;
}

.second__para-mnstr {
    margin-top: 2.5rem;
    display: flex;
    padding-top: 1.5rem;
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    ;
}
.excla {
    position: relative;
    display: inline-block;
    border: 1px solid #ffffff;
    height: 2rem;
    width: 4rem;
    border-radius: 100rem;
    margin-right: 2rem;
    margin-top: 1rem;
}
.spa {
    font-weight: 500;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/************************
BSC ADDRESS MODAL
/*************************/
.mnstr-address__modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, .5);

    font-size: 1.3rem;

    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.mnstr-address__modal--content {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);

    margin: 0 auto;
}

.mnstr-address__modal--form {
    position: relative;

    background-color: rgba(0, 0, 0, 1);
    padding: 3.5rem 8rem;
    text-align: center;

    border-radius: 1rem;
    border: 3px solid #00AD90;
}
.mnstr-address__modal--exit-1, .mnstr-address__modal--exit-2{
    color: #ffffff;
    font-size: 3rem;
    position: absolute;
    top: 1rem;
    right: 2rem;

    cursor: pointer;
}

.mnstr-address__heading {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 4rem;
}

.mnstr-address__para {
    font-size: 1.8rem;
    margin-bottom: 3rem;
}

.mnstr-address__input-text::placeholder {
    text-align: center;
    font-family: 'Poppins';
}

.mnstr-address__input-text{
    font-size: 1.6rem;
    width: 100%;
    color: #ffffff;
    padding: 1.2rem 2rem;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: rgba(0 ,0, 0, 1);
}

.mnstr__button-box{
    display: block;
    text-decoration: none;
    color: #ffffff;
    background-color: #00AD90;
    text-align: center;
    font-weight: 500;
    margin-top: 2rem;
    padding: 1.2rem 6rem;
    border-radius: .5rem;
    margin-bottom: 2rem;
}

/************************
MEDIA QUERIES
/*************************/
@media only screen and (max-width: 1200px) {

    html {
        font-size: 50%;
    }
    .about__text {
        position: absolute;
        top: 30%;
        left: 10rem;
    } 


}
@media only screen and (max-width: 980px) {
    .about__text {
        position: absolute;
        top: 30%;
        left: 6rem;
    }
}
@media only screen and (max-width: 900px) {
    html {
        font-size: 43.75%;
    }
    .about__paragraph {
        font-size: 1.6rem;
        margin-bottom: 3rem;
    }
}
@media only screen and (max-width: 780px) {
    .header{
        padding: 1.5rem 0 0 4rem;
    }
    .about__text {
        position: absolute;
        top: 20%;
        left: 2rem;
    }
    .header__box {
        margin-bottom: 6rem;
        flex-direction: column;
    }
    .header__logo-box {
        margin-left: 0;
    }
    .header__logo-box img:first-child{
        display: none;
    }
    .header__navigation {
        margin-left: 0;
        margin-right: 0;
    }
    .header__nav {
        list-style: none;
        font-size: 1.5rem;
    }
    .first__paragraph {
        margin: 0 10rem 7rem 10rem;
    }

}
@media only screen and (max-width: 685px) {
    .heading__secondary {
        font-size: 3rem;
        line-height: 4rem;
    }
    .about__button:link, .about__button:visited {
        font-size: 1.2rem;
        margin-top: 3rem;
        padding: 1rem 2.5rem;
    }
    .about__text {
        left: 0;
    }
}
@media only screen and (max-width: 560px) {
    .heading__secondary {
        font-size: 2rem;
        line-height: 2rem;
        margin-bottom: 1rem;
    }
    .about__button:link, .about__button:visited {
        font-size: 1rem;
        margin-top: 2rem;
        padding: 1rem 2.5rem;
    }
}